<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set the base path for the application
    RewriteBase /PHP-Project/public/

    # If the requested URL is not a file or directory, rewrite to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /PHP-Project/public/index.php [QSA,L]
</IfModule>
